@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<br />
<br />
<br />
<h2>How we started...</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            Our online bookstore was founded in 2017,
            starting out as a stall on the Portobello Road.
            We had many contributors and book-donators, hence our selling needed a better
            organization and availability. We decided to go online.
            Since then, we collaborate with even more sellers, book-enthusiasts and antique shops for books.
            Daily we recieve many emails and thankfull letters from our satisfied customers who trust our principes of
            diligent work. Despite the wide range of book genre that we posses, we are also open for other side-related
            enthusiast who make products that are inovative and useful and the same time.
        </p>



    </div>
    <div class="col-md-6">


        <p>
            For example we collaborate with company that produces vinyl postcards. Not that we excluded the
            standard type of paper postacrds, but we support the creative side of our coworking brains and we love
            to help stories like this to grow bigger.
            It is really heart-warming to know that your work pays twice: you get your job done and
            you make your customers happy.
            Nowadays, the internet phenomenon,
            age and energy have impacted perpetual movement.
            We still work continuously, and very much love the game,
            but now deal from home in Cirencester. We still exhibit at the New York and London bookfairs.

        </p>

    </div>

</div>
<h2>Where are we now...<span class="glyphicon glyphicon glyphicon-circle-arrow-down"> </span> </h2>
<br />
<br />
<div class="row">
    <h3>Ratings from our customers <span class="glyphicon glyphicon-comment"></span>  </h3>
    <div class="col-md-3">
        <h4>
            Ritta Whiteson

        </h4>
        <img class="img-rounded" style="width:100px;height:100px" src="../user1.png" />
        <div>
            Never not having what I need.
            Keep up the great work!!! 
        </div>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>

    </div>
    <div class="col-md-3">
        <h4>
            Dan Russel

        </h4>
        <img class="img-rounded" style="width:100px;height:100px" src="../user2.png" />
        <div>
            Great work guys!!!
        </div>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
    </div>
    <div class="col-md-3">
        <h4>
            Dereck Willson

        </h4>
        <img class="img-rounded" style="width:100px;height:100px" src="../user3.png" />
        <div>
            Always corresponding with my needs. The best supplied book store online!
        </div>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
    </div>
    <div class="col-md-3">
        <h4>
            Olivia Woods

        </h4>
        <img class="img-rounded" style="width:100px;height:100px" src="../user4.png" />
        <div>
            I am so thankfull that you guys decided to sell vinyl postcards!
            It was one of the best presents I could have bought to a dearest one! :)
        </div>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
        <span class="glyphicon glyphicon-star warning"></span>
    </div>

</div>
<!--

    <button class="btn btn-danger" data-toggle="popover"
        title="popover title"
        data-content="something in the main part of this message">
    click
</button>


    -->
