@{
    ViewBag.Title = "Contact";
}
<!-- <h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<br />
<br />
<br />
<div class="jumbotron">
    <h1 class="badge alert-warning ">Where to find us:</h1>
    <br />
    <h2 class="badge alert-warning">
        <p class="lead ">
            <address>
                <span class="glyphicon glyphicon-globe">The land of the books</span>
                <br />
                <span class="glyphicon glyphicon-circle-arrow-right">London 11086-1118</span>
                <br />
                <abbr title="Phone"></abbr>
                <span class="glyphicon glyphicon-phone">818.111.1718</span>

            </address>

            <address>
                <span class="glyphicon glyphicon-envelope"><strong>Support:</strong>   <a href="mailto:BookstoreHM@literature.com">BookstoreHM@literature.com</a></span>
                <br />
                <span class="glyphicon glyphicon-envelope"><strong>Marketing:</strong> <a href="mailto:MarketingBHM@literature.com">MarketingBHM@literature.com</a></span>

            </address>
        </p>
    </h2>



</div>


