
@{
    ViewBag.Title = "Ajax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="badge bg-success">Choose your favourite book and add to your card</h2>

<table id="my-table" class="table table-responsive table-hover">
    <thead>
        <tr style="background-color:mediumseagreen">
            <th>Name</th>
            <th>Year</th>
            <th>Price</th>
            <th>ImgURL</th>
            <th>Description</th>
            <th>Author</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
       

    </tbody>
</table>
